.app {
  text-align: center;
}

.app-container {
  background-color: #353b45;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(235, 235, 235);
  padding: 0.5em 1em;
}

.form-container {
  /* width: 100%; */
  background: #dd7572;
  border-radius: 10px;
  padding: 3rem 1.5rem;
}

.login-switch {
  opacity: 0.75;
}

.info-subtext {
  opacity: 0.75;
}

form {
  background: #feffff;
  padding: 3rem 1rem;
  border-radius: 10px;
  color: rgb(24, 24, 24);
}

.spinner-icon {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
